body {
  color: white;
}
.logoName {
  font-size: 30px;
  color: #6797ff;

  font-family: cursive;
  margin-right: 100px;
  margin-left: 35px;
  text-decoration: none;
}
.logoName:hover {
  color: #ffffff;

  text-decoration: none;
}

.homeSec {
  background-color: black;
  padding: 50px;
}
#line1 {
  font-size: 80px;
}
#line2 {
  font-size: 70px;
  margin-top: -15px;
}
#line3 {
  margin-left: 10px;
}
#line4 {
  font-size: 20px;
  margin-top: 15px;
  margin-left: 10px;
}
.btn {
  margin-left: 10px;
}
#svg-container {
  margin-top: -220px;
  width: 40%;
  height: 350px;
  float: right;
  display: flex;
}
@media screen and (max-width: 600px) {
  #svg-container {
    visibility: hidden;
  }
}
#beautiful {
  color: #6797ff;
}

.footer {
  background-color: #343a40;
  padding: 25px;
}

#aboutInfoF {
  margin-left: 35px;
}

.container-main {
  background-color: #292929;
  color: black;
}
.wrapper {
  color: black;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}
.cerd {
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: fit-content;
  border-radius: 5px;
  justify-content: center;
 
}
.createpen {
  display: flex;
  flex-wrap: wrap;
  min-width: auto;
}
.createpenh1 {
  padding: 0px;
  display: table-caption;
  margin: 0px 30px 0px 10px;
}
.createcontainer {
  display: flex;
  justify-content: center;
}
